{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    
    {% for listing in listings%}
    <a href="{% url 'listing' listing.id %}">
        <div class="listing" style="display: flex; border-width:1px;
        border-style:solid;
        border-color:lightgray;">
            <div style="width: 400px; align-content:center;">
            <img src="{{listing.image_url}}" width = 200px alt="">
            </div>

            <div style="padding-left: 40px; font-size: 15px;"">
                <label >{{listing.title}}  </label> 
                <br>
                <label style=" font-weight: bold; ">Price:</label>  ${{listing.amount}}
                <br>
                <label style="font-size: 10px;" ">  {{listing.created_date}}
            
            </div>
    
        </div>
        <div style="margin-top:20px ;">

        </div>
    </a>
    {% empty %}
        <div>
            No Listings
        </div>
    {% endfor %}
   
  
{% endblock %}